In [2]:
import pandas as pd

In [11]:
POPULATION_PATH = r"C:\Users\offco\Documents\Dev_Projects\JHUCovidDatasetAnP\3. DELPHI Analysis & Prediction\DELPHI\data_sandbox\processed\Population_Global.csv"
data = pd.read_csv(POPULATION_PATH)
data.head()

  Continent         Country Province     pop2016
0      Asia     Afghanistan     None  34656032.0
1    Europe         Albania     None   2876101.0
2    Africa         Algeria     None  40606052.0
3   Oceania  American Samoa     None     55599.0
4    Europe         Andorra     None     77281.0

In [12]:
skorea = data[data['Country'] == "Korea, South"]
skorea.head()

    Continent       Country Province     pop2016
150      Asia  Korea, South     None  51245707.0

In [13]:
skorea.reset_index(drop=True, inplace=True)
skorea['pop2016'] = 51780579.0
skorea.head()

C:\Users\offco\AppData\Local\Temp\ipykernel_23436\2368134869.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  skorea['pop2016'] = 51780579.0

  Continent       Country Province     pop2016
0      Asia  Korea, South     None  51780579.0

In [17]:
OUTPUT_PATH = r"C:\Users\offco\Documents\Dev_Projects\JHUCovidDatasetAnP\3. DELPHI Analysis & Prediction\Demo\danger_map\processed"
skorea.to_csv(OUTPUT_PATH + "\Population_Global.csv", index=False)